{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>{% block title %}My shop{% endblock %}</title>
    <link href="{% static 'store/css/normalize.css' %}" rel="stylesheet">
    <link rel="icon" href="{% static 'store/image/icons/tea.ico' %}">
    <link href="{% static 'store/css/base.css' %}" rel="stylesheet">
</head>
<body>
    <header class="header" id="header">
        <div class="wrapper header__wrapper">
            <div class="header__content">
                <a href="/" class="logo">Hot Drinks</a>
                <p class="header__subtitle">It is warm here</p>
            </div>
            <nav class="nav header__nav">
                <ul>
<!--                    Навигация по странице-->
                </ul>
            </nav>
            <div class="cart">
                <!-- Иконка корзины -->
            </div>
        </div>
    </header>
    <main>
        <!-- <section class="about">
            <div class="wrapper about__wrapper">
                <div class="about__content">
                    <h1 class="about__title">
                        HotShops Что-то написать
                    </h1>
                    <p class="about__text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt.</p>
                </div>
            </div>
        </section> -->
        <section class="content" id="content">
            <div class="wrapper content__wrapper">
                {% block content %}
                {% endblock %}
            </div>
        </section>
    </main>
</body>
</html>